---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import mainPage from '../images/group-photos/group-cropped.jpeg';
import logo from '../images/dodecslogo.png';
import { toursList } from '../data/tour.ts';
---

<Layout title="Dodecaphonics">
	<div class="flex w-full flex-col">

		<!-- Header -->
		<a href="/#intro" class="scroll-smooth hidden sm:block">
			<Image src={logo} alt="logo" class="absolute w-[20%] right-[2em] rotate-12 hover:rotate-[20deg] drop-shadow-md transition z-10"/>
		</a>
		<div class="grid gap-1 p-4 sm:p-6">
			<p class="md:text-6xl sm:text-4xl text-3xl font-display">The Dartmouth Dodecaphonics</p>
			<p class="font-sans font-light text-light-gray">Dartmouth’s oldest premier gender-inclusive a cappella group, est. 1984</p>
		</div>
		<div class="flex flex-row">
			<div class="w-full">
				<Image src={mainPage} alt="group photo" class="animate-appear w-full h-auto"/>
			</div>
		</div>

		<!-- Intro -->
		<div class="" id="intro">
			<div class="flex flex-col gap-10 max-w-[40em] mx-auto px-4 sm:px-6 py-8 sm:py-16">
				<div class="grid gap-4">
					<p class="font-display font-light text-2xl sm:text-4xl">Welcome! We're the Dodecs.</p>
					<div class="grid gap-3">
						<p class="font-sans font-light text-base sm:text-xl">Founded in 1984, we are the first a cappella group at Dartmouth to have been recognized by 
							Best of College A Cappella, have opened for Bobby McFerrin, and have been at least ICCA 
							semifinalists every time we've competed. Each winter we tour around the nation and love 
							meeting fans and alumni along the way.
						</p>
						<p class="font-light text-base sm:text-xl">
							Want to schedule a show with the Dodecs? Contact us at <a href="mailto:dodecs@dartmouth.edu" class="link hover:opacity-75 transition">dodecs@dartmouth.edu</a>.
						</p>
					</div>
					<div class="grid grid-cols-3 gap-2 sm:gap-6 m-auto pt-2 sm:pt-4 text-md sm:text-2xl font-display w-full">
						<a href="/members" class="px-4 py-3 border-[1.5px] flex justify-center border-dark-gray hover:text-white hover:bg-dark-gray transition">
							Members
						</a>
						<a href="/media" class="px-4 py-3 border-[1.5px] flex justify-center border-dark-gray hover:text-white hover:bg-dark-gray transition">
							Media
						</a>
						<a href="/contact" class="px-4 py-3 border-[1.5px] flex justify-center border-dark-gray hover:text-white hover:bg-dark-gray transition">
							Contact Us
						</a>
					</div>
				</div>
			</div>
		</div>

		<!-- Performances -->
		<div class="flex flex-col grid gap-4 sm:gap-8 px-4 py-8 sm:py-16 bg-dark-gray">
			<p class="font-display font-light text-white text-2xl sm:text-4xl sm:m-auto">Check out our performances!</p>
			<div class="flex flex-col lg:flex-row w-full md:w-[90%] justify-center m-auto gap-4">
				<iframe class="aspect-video rounded" width="100%" height="auto" src="https://www.youtube.com/embed/q_2CgAKTyk8?si=CJzDl5YwdibEuJAe" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
				<iframe class="aspect-video rounded" width="100%" height="auto" src="https://www.youtube.com/embed/ELHGe6rLhwY" title="Love on the Brain - Dodecs 17W" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
			</div>
			<a href="/media" class="flex font-light justify-center text-lg sm:text-xl px-4 py-3 border-[1.5px] m-auto text-white border-white hover:text-dark-gray hover:bg-white transition w-[8em]">
				See more
			</a>
		</div>

		<!-- Tour -->
		<div class="flex flex-col grid gap-4 sm:gap-8 px-4 py-8 sm:py-16">
			<div class="grid gap-1 w-full md:w-[90%] m-auto">
				<p class="font-display font-light text-2xl sm:text-4xl">Dodecs on tour</p>
				<p class="text-light-gray font-light font-sans">Each winter we tour around the nation and love meeting fans and alumni along the way.</p>
			</div>
			<div class="flex flex-row gap-4 w-full overflow-scroll">
				{ toursList.map((tour) => 
				<div class="flex flex-col items-center min-w-[24em] gap-2 align-center">
					<div class="zoom">
						<img src={`../../images/tour/${tour.img}`} alt={tour.text} class="rounded"/>
					</div>
					<p class="text-base sm:text-lg font-sans align-center font-light text-light-gray">{tour.text}</p>
				</div>
			)}
			</div>
		</div>
	</div>
</Layout>