---
import Layout from '../layouts/Layout.astro';
import { membersList } from "../data/members";

---

<Layout title="Members">
  <div class="p-4 md:p-6 text-dark-gray w-full" >
    <div class="flex pb-6 flex-col">
      <p class="text-4xl font-display font-thin m-auto">Current Members</p>
    </div>
    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-4 md:gap-6 py-4 max-w-[65em] mx-auto">
      {membersList.map((member) => 
      <div class="flex flex-col gap-4">
        <div class="zoom">
          <img class="animate-appear" src={`../../public/images/members/${member.photo}`} alt={member.name}/>
        </div>
        <div>
          <p class="font-display text-xl md:text-2xl font-light">{member.name}</p>
          <p class="font-light text-sm sm:text-base">Hometown: {member.hometown}</p>
          <p class="font-light text-sm sm:text-base">Major: {member.major}</p>
          <p class="font-light text-sm sm:text-base">Fun Fact: {member.fact}</p>
        </div>
      </div>
      )}
    </div>
  </div>
</Layout>
